/*Sechana Dahal 22july, 2024 */

img{
	max-width: 100%,
}

body { 
	color: #000000;
	background-color: #336699;
	font-family: Calibri, Arial, sans-serif;
}

main { 
	width: 100%;
	margin: 0 auto 0 auto;
}
ul
{
	padding: 0;

}
li
{
	list-style-type: none;
	padding: 1%;
	margin: 1%;

}
li a
{
	color:#FFFFFF;
	text-decoration: none;
	list-style-type: none;

}

h1 { 
	color: #FFFFFF;
}

footer {
	font-size: .70em;
	text-align: center;
	margin-top: 2em;
}
